@model IEnumerable<Blog.Domain.Entities.Reviews>
@using Blog.Domain

@{
    ViewBag.Title = "ReviewsBook";
}

<h2>Reviews book</h2>

<p>
    <button type="button" class="btn btn-default mb-2">@Html.ActionLink("Create New", "CreateReviews")</button>
</p>
@foreach (var item in Model)
{
    if (!item.IsDelete)
    {
        <div class="news">
            <h4>@item.Name</h4>
            <h5>@item.Date</h5>
            <p>@item.Description</p>
            <button type="button" class="btn btn-default mb-2">@Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id, who = MyObject.Reviews }, null)</button>
            <button type="button" class="btn btn-default mb-2">@Html.ActionLink("Delete", "Delete", "Home", new { id = item.Id, who = MyObject.Reviews }, null)</button>
        </div>
    }
}
